[submodule "themes/rocinante"]
	path = themes/rocinante
	url = https://github.com/mavidser/hugo-rocinante.git
[submodule "themes/mon_theme"]
	path = themes/mon_theme
	url = https://github.com/slaynn/hugo-rocinante.git
